@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');
@import url('./__span/intro__span.css');
.intro {
  display: flex;
  flex-flow: column wrap;
  max-width: calc(100% - 18.5rem);
  margin: 0 auto;
}

@media screen and (min-width: 1021px) and (max-width: 1044px) {
  .intro {
    max-width: calc(100% - 6rem);
  }
}

@media all and (min-width: 701px) and (max-width: 1020px) {
  .intro {
    max-width: calc(100% - 3rem);
  }
}

@media all and (max-width: 700px) {
  .intro {
    max-width: calc(100% - 2rem);
  }
}
