.lead__subtitle {
  font-weight: normal;
  text-align: center;
  font-size: 1.9rem;
  line-height: 2.2rem;
  max-width: 500px;
  margin: 25px 0 64px 0;
}

@media all and (max-width: 700px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 16px 0 40px 0;
  }
}
