@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__overlay/cover__overlay.css');
.cover {
  max-width: calc(100% - 6rem);
  background-image: url('../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-width: 1021px) and (max-width: 1044px) {
  .cover {
    max-width: 100%;
  }
}

@media all and (min-width: 701px) and (max-width: 1020px) {
  .cover {
    max-width: 100%;
  }
}

@media all and (max-width: 700px) {
  .cover {
    max-width: 100%;
  }
}
