.place__link {
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0;
  align-self: flex-start;
}

.place__link:hover {
  transition: opacity .5s linear .1s;
  opacity: 0.8;
}
