.cover__background {
  margin: 0 48px;
  background-image: url('../../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1021px) and (max-width: 1044px) {
  .cover__background {
    margin: 0;
  }
}

@media screen and (max-width: 1020px) and (min-width: 701px) {
  .cover__background {
    margin: 0;
  }
}

@media all and (max-width: 700px) {
  .cover__background {
    margin: 0;
  }
}
