.cover__title {
  max-width: 560px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.6875rem;
  margin: 0 0 2rem 0;

}

@media all and (max-width: 700px) {
  .cover__title {
    max-width: 255px;
    font-size: 2rem;
    line-height: 2.1875rem;
    margin: 0 0 1rem 0;
  }
