@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');
@import url('./__menu/footer__menu.css');

.footer {
  max-width: calc(100% - 6rem);
  margin: 0 auto;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

@media all and (min-width: 701px)and (max-width: 1020px) {
  .footer {
    max-width: calc(100% - 3rem);
  }
}

@media all and (max-width: 700px) {
  .footer {
    padding-left: 1rem;
    flex-direction: column;
    margin: 0;
  }
}
